<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

<connectionStrings><add name="geri_sayim_apiEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=geri_sayim_api;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
	
	
	<system.serviceModel>
        <bindings>
			
               <webHttpBinding>
				   
                      <binding name="crossDomain" crossDomainScriptAccessEnabled="true" />
               </webHttpBinding>
        </bindings>
        <behaviors>
			
               <endpointBehaviors>
                      
				   <behavior name="WcfService_REST.Geri_Sayim_RestAspNetAjaxBehavior">
                             <webHttp />
						  
                      </behavior>
                      <behavior name="WcfService_REST.Rest_AuthAspNetAjaxBehavior">
						  <webHttp />
                      </behavior>
               </endpointBehaviors>
               <serviceBehaviors>
                      <behavior name="ServiceBehavior">
                             <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                             <serviceDebug includeExceptionDetailInFaults="true" />
                             <serviceAuthorization serviceAuthorizationManagerType="WcfService_REST.RestAuthorizationManager, WcfService_REST" />
                      </behavior>
               
			   </serviceBehaviors>
			
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
               multipleSiteBindingsEnabled="true" />
        <services>
               <service name="WcfService_REST.Geri_Sayim_Rest">
                      <endpoint address="" behaviorConfiguration="WcfService_REST.Geri_Sayim_RestAspNetAjaxBehavior"
                             binding="webHttpBinding" contract="WcfService_REST.Geri_Sayim_Rest" />
               </service>
               <service name="WcfService_REST.Rest_Auth" behaviorConfiguration="ServiceBehavior">
                      <endpoint address="" behaviorConfiguration="WcfService_REST.Rest_AuthAspNetAjaxBehavior"
                         bindingConfiguration="crossDomain"     binding="webHttpBinding" contract="WcfService_REST.Rest_Auth" />
               
			   
			   </service>
     
		</services>

		

      
	</system.serviceModel>
	
</configuration>
